*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#root,
#__next {
  isolation: isolate;
}

:root {
  /* --primary-color: #3498db; */
  /* --secondary-color: #2ecc71; */
  --primary-text-color: #e95307;
  --secondary-text-color: #00963f;
}

a {
  color: black;
}

.branding-color {
  color: var(--primary-text-color);
}

/* Header CSS  Starts*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}
.logo {
  width: 100px;
}

.nav {
  display: flex;
  gap: 30px;
}

.nav a {
  text-decoration: none;
  font-size: 18px;
}
/* Header CSS  Ends*/

/* Main CSS Starts */

main {
  flex: 1;
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px 0;
}

h1 {
  text-align: center;
  color: var(--primary-text-color);
  font-size: 35px;
  margin-bottom: 30px;
}

hr {
  margin: 40px 0;
}

main p {
  font-size: 18px;
  margin: 30px 0;
}

.point-heading {
  font-weight: 800;
}

/* Main CSS Ends */

/* Footer CSS starts */
.footer {
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.04) 0px -3px 3px;
  padding: 20px;
}

.footer-heading {
  font-size: 30px;
  border-bottom: 3px solid var(--primary-text-color);
  width: 25ch;
  margin: 0 auto;
  margin-bottom: 20px;
}

.footer-details p {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

.footer-details span {
  color: var(--primary-text-color);
  display: flex;
  align-items: center;
  gap: 10px;
}

footer a {
  border-bottom: 2px solid #fff;
}

footer a:hover {
  border-bottom: 2px solid var(--primary-text-color);
}
/* Footer CSS ends */

/* Media queries */
@media screen and (max-width: 768px) {
  .header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .logo {
    margin-right: 0;
  }
  .nav {
    flex-direction: column;
    margin-top: 5px;
    gap: 2px;
  }
}
