*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#root,
#__next {
  isolation: isolate;
}

:root {
  /* --primary-color: #3498db; */
  /* --secondary-color: #2ecc71; */
  --primary-text-color: #e95307;
  --secondary-text-color: #00963f;
}

/* Header CSS  Starts*/
.logo {
  width: 100px;
}
/* Header CSS  Ends*/

/* Main CSS Starts */

main {
  flex: 1;
}
/* Main CSS Ends */

/* Footer CSS starts */
.footer {
  text-align: center;
}

.footer-details p {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-details span {
  color: var(--primary-text-color);
}
/* Footer CSS ends */
