<footer class="footer">
  <h3 class="footer-heading">Contact Us</h3>
  <div class="footer-details">
    <p>
      <span
        style=""
        class="material-icons"
        >location_on</span
      >
      <span>Address:&nbsp;</span> Bangalore, Ramanagara - 562 159
    </p>
    <p>
      <span><span class="material-icons">email</span> Email:&nbsp;</span>
      <a href="mailto:kbpaints2000@gmail.com">kbpaints2000@gmail.com</a>
    </p>
    <p>
      <span class="material-icons">smartphone</span>
      <span>Phone:&nbsp;</span>
      <a
        href="https://wa.me/+919448881319"
        target="_blank"
        >+91-9448881319</a
      >
      &nbsp; & &nbsp;
      <a
        href="https://wa.me/918660143810"
        target="_blank"
      >
        +91-8660143810</a
      >
    </p>
  </div>
</footer>
