<footer class="footer">
  <h3>Contact Us</h3>
  <div class="footer-details">
    <p>
      <span
        style="color: red"
        class="material-icons"
        >location_on</span
      >
      <span>Address:</span> Bangalore, Ramanagara - 562 159
    </p>
    <p>
      <span><span class="material-icons">email</span> Email:</span>
      <a href="mailto:kbpaints2000@gmail.com">kbpaints2000@gmail.com</a>
    </p>
    <p>
      <span class="material-icons">smartphone</span>
      <span>Phone:</span>
      <a href="tel:+91-9448881319">+91-9448881319</a> &
      <a href="tel:+91-8660143810">+91-8660143810</a>
    </p>
  </div>
</footer>
