<footer class="footer">
  <h3 class="footer-heading">Contact Us</h3>
  <div class="footer-details">
    <div class="address">
      <div>
        <span class="material-icons">location_on</span>
        <span>Address:&nbsp;</span>
      </div>
      Bangalore, Ramanagara - 562 159
    </div>
    <div class="mail">
      <div>
        <span class="material-icons">email</span>
        <span> Email:&nbsp;</span>
      </div>
      <a href="mailto:kbpaints2000@gmail.com">kbpaints2000@gmail.com</a>
    </div>
    <div class="contact">
      <div>
        <span class="material-icons">smartphone</span>
        <span>Phone:&nbsp;</span>
      </div>
      <a
        href="https://wa.me/+919448881319"
        target="_blank"
        >+91-9448881319</a
      >
      &nbsp; & &nbsp;
      <a
        href="https://wa.me/918660143810"
        target="_blank"
      >
        +91-8660143810</a
      >
    </div>
  </div>
</footer>
