<header class="header">
  <a href="/">
    <img
      class="logo"
      src="../img/logo/logo.png"
      alt=""
    />
  </a>
  <nav class="nav">
    <a
      class="navLink"
      href="/"
      >About us</a
    >
    <a
      class="navLink"
      href="/careers.html"
      >Career</a
    >
    <a
      class="navLink"
      href="/products"
      >Products</a
    >
    <a
      class="navLink"
      href="/contact"
      >Contact</a
    >
    <a
      class="navLink"
      href="/gallery"
      >Gallery</a
    >
  </nav>
</header>
